[Desktop Entry]
Type=Application
Name=Discord
Icon=desk-discord
Exec=google-chrome --app=https://discord.com/channels/@me
Terminal=false
Categories=Desk;
