[Desktop Entry]
Type=Application
Name=Duck Life
Icon=desk-ducklife
Exec=google-chrome --ignore-gpu-blocklist --enable-gpu-rasterization --user-data-dir=$HOME/.config/chrome-games --app=file://$HOME/.dotfiles/profiles/ben_thickbook/desk-web/ducklife.html
Terminal=false
Categories=Desk;
