[Desktop Entry]
Type=Application
Name=MineColonies
Icon=desk-minecolonies
Exec=/home/chase/.dotfiles/profiles/ben_thickbook/bin/mc-play minecolonies
Terminal=false
Categories=Desk;
