[Desktop Entry]
Type=Application
Name=Colonies
Icon=desk-minecolonies
Exec=$HOME/.dotfiles/profiles/ben_thickbook/bin/mc-play minecolonies
Terminal=false
Categories=Desk;
