[Desktop Entry]
Type=Application
Name=Sugar Sugar
Icon=desk-sugarsugar
Exec=google-chrome --use-angle=swiftshader --app=file://$HOME/.dotfiles/profiles/ben_thickbook/desk-web/sugarsugar.html
Terminal=false
Categories=Desk;
