[Desktop Entry]
Type=Application
Name=Motherload
Icon=desk-motherload
Exec=google-chrome --ignore-gpu-blocklist --enable-gpu-rasterization --user-data-dir=$HOME/.config/chrome-games --app=file://$HOME/.dotfiles/profiles/ben_thickbook/desk-web/motherload.html
Terminal=false
Categories=Desk;
