[Desktop Entry]
Type=Application
Name=Sugar Sugar
Icon=desk-sugarsugar
Exec=google-chrome --ignore-gpu-blocklist --enable-gpu-rasterization --app=file://$HOME/.dotfiles/profiles/ben_thickbook/desk-web/sugarsugar.html
Terminal=false
Categories=Desk;
