[Desktop Entry]
Type=Application
Name=Duck Life
Icon=desk-ducklife
Exec=google-chrome --use-angle=swiftshader --app=file://$HOME/.dotfiles/profiles/ben_thickbook/desk-web/ducklife.html
Terminal=false
Categories=Desk;
