[Desktop Entry]
Type=Application
Name=Fireboy
Icon=desk-fireboy
Exec=google-chrome --ignore-gpu-blocklist --enable-gpu-rasterization --user-data-dir=$HOME/.config/chrome-games --app=file://$HOME/.dotfiles/profiles/ben_thickbook/desk-web/fireboy.html
Terminal=false
Categories=Desk;
