[Desktop Entry]
Type=Application
Name=Bloons TD
Icon=desk-bloons
Exec=google-chrome --use-angle=swiftshader --app=file://$HOME/.dotfiles/profiles/ben_thickbook/desk-web/bloons.html
Terminal=false
Categories=Desk;
