[Desktop Entry]
Type=Application
Name=Snow Line
Icon=desk-snowline
Exec=google-chrome --app=file://$HOME/.dotfiles/profiles/ben_thickbook/desk-web/snowline.html
Terminal=false
Categories=Desk;
