[Desktop Entry]
Type=Application
Name=Home
Icon=desk-home
Exec=$HOME/.dotfiles/profiles/ben_thickbook/bin/mc-play home
Terminal=false
Categories=Desk;
