[Desktop Entry]
Type=Application
Name=Storyline
Icon=desk-storyline
Exec=google-chrome --app=https://storylineonline.net/
Terminal=false
Categories=Desk;
