[Desktop Entry]
Type=Application
Name=Freezeria
Icon=desk-papas
Exec=google-chrome --app=file://$HOME/.dotfiles/profiles/guest_thinbook/desk-web/papas.html
Terminal=false
Categories=Desk;
