[Desktop Entry]
Type=Application
Name=Motherload
Icon=desk-motherload
Exec=google-chrome --app=https://archive.org/embed/motherload_202209
Terminal=false
Categories=Desk;
