[Desktop Entry]
Type=Application
Name=Sugar Sugar
Icon=desk-sugarsugar
Exec=google-chrome --app=file://$HOME/.dotfiles/profiles/guest_thinbook/desk-web/sugarsugar.html
Terminal=false
Categories=Desk;
