[Desktop Entry]
Type=Application
Name=RAM Menu
Comment=Memory usage, top processes, free memory
Exec=polybar-menu ram
Icon=utilities-system-monitor
Terminal=false
Categories=System;
