[Desktop Entry]
Type=Application
Name=CPU Menu
Comment=CPU usage, top processes, htop
Exec=/home/chase/.dotfiles/ubuntu/bin/polybar-menu cpu
Icon=utilities-system-monitor
Terminal=false
Categories=System;
