[Desktop Entry]
Type=Application
Name=Wallpaper Menu
Comment=Per-desktop wallpaper control
Exec=polybar-menu wallpaper
Icon=preferences-desktop-wallpaper
Terminal=false
Categories=System;
