[Desktop Entry]
Type=Application
Name=Wallpaper Menu
Comment=Per-desktop wallpaper control
Exec=/home/chase/.dotfiles/ubuntu/bin/polybar-menu wallpaper
Icon=preferences-desktop-wallpaper
Terminal=false
Categories=System;
