[Desktop Entry]
Type=Application
Name=Disk Menu
Comment=Disk usage, file manager, disk analyzer
Exec=polybar-menu disk
Icon=drive-harddisk
Terminal=false
Categories=System;
