[Desktop Entry]
Type=Application
Name=Network Menu
Comment=Wifi networks, connection status
Exec=polybar-menu network
Icon=network-wireless
Terminal=false
Categories=System;
